/* font */
@font-face {
  font-family: 'SDGlitch';
  src: url('fonts/SDGlitch.ttf') format('truetype');
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* background */
body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1c/NGC_6302_Hubble_2009.full.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  color: white;
}


/* top stars decoration */
.top-decoration {
  font-size: 1rem;
  color: #d1cfc6;
  letter-spacing: 12px;
  margin-bottom: 30px;
}

/* main heading */
h1 {
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: 7rem;
  color: white;
  margin-bottom: 12px;
  text-shadow: 
    2px 2px 4px black,
    -2px -2px 4px black,
    0 0 20px rgba(0, 0, 0, 0.9);
}

/* subtitle */
.subtitle {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  text-transform: lowercase;  /* makes everything lowercase like brat */
  letter-spacing: 1px;
  color: #f8f8fd;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

/* divider line */
.divider {
  width: 60px;
  height: 1px;
  background: #ffe066;
  margin: 0 auto 24px;
  opacity: 0.5;
}

/* description text */
.description {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* enter button */
button {
  background: transparent;
  color: #420977;
  border: 1px solid #3d0e50;
  padding: 14px 40px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  text-transform: lowercase;  /* makes everything lowercase like brat */
  letter-spacing: 1px;
  transition: all 0.3s;
}

button:hover {
  background: #ffe066;
  color: #000010;
  box-shadow: 0 0 20px rgba(255, 224, 102, 0.4);
  transform: scale(1.05);
}

/* bottom decoration */
.bottom-decoration {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #0f0f0f;
  font-size: 1.2rem;
}